In [1]:
########################################################################################################
#Name : - hiral shingadiya
#Enrollment :- 216270307061
########################################################################################################

#Practical - 6: Write a Pandas program to implement following operation

#Practical - 6.1 to convert a NumPy array to a Pandas series

import numpy as np
import pandas as pd

arr=np.array([11,12,13,14,15])
print("numpy array is:",arr)

s=pd.Series()
print("empty series:",s)
s=pd.Series(arr)

print("pandas series:\n",s)

numpy array is: [11 12 13 14 15]
empty series: Series([], dtype: object)
pandas series:
 0    11
1    12
2    13
3    14
4    15
dtype: int64

In [2]:
########################################################################################################
#Name : - hiral shingadiya
#Enrollment :- 216270307061
########################################################################################################

#Practical - 6: Write a Pandas program to implement following operation

#Practical - 6.2 to convert the first column of a Data-frame as series

import pandas as pd

df=pd.DataFrame()

print("empty dataframe:",df)

df=pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})

print("dataframe is:\n",df)

empty dataframe: Empty DataFrame
Columns: []
Index: []
dataframe is:
    a  b
0  1  4
1  2  5
2  3  6

In [3]:
########################################################################################################
#Name : - hiral shingadiya
#Enrollment :- 216270307061
########################################################################################################

#Practical - 6: Write a Pandas program to implement following operation

#Practical - 6.3 to create the mean and standard deviation of the data of a given series

import pandas as pd

s=pd.Series([12,45,78,23,56,89,88])

print("series is:\n",s)
print("\nmean of s:",s.mean())
print("\nstandard deviation of s:",s.std())

series is:
 0    12
1    45
2    78
3    23
4    56
5    89
6    88
dtype: int64

mean of s: 55.857142857142854

standard deviation of s: 30.93772546815388

In [4]:
########################################################################################################
#Name : - hiral shingadiya
#Enrollment :- 216270307061
########################################################################################################

#Practical - 6 : Write a Pandas program to implement following operation
#Practical - 6.4 to sort a given series

import pandas as pd

s=pd.Series([44,12,77,93,55,75,66,123,74,1])

print("original series: \n",s)
print("\n sorted series is:\n",s.sort_values())

original series:
 0     44
1     12
2     77
3     93
4     55
5     75
6     66
7    123
8     74
9      1
dtype: int64

 sorted series is:
 9      1
1     12
0     44
4     55
6     66
8     74
5     75
2     77
3     93
7    123
dtype: int64