In [ ]:
########################################################################################################
#Name : - hiral shingadiya
#Enrollment :- 216270307061
#Subject :- IML
#Sem :- 5
########################################################################################################

#Practical - 6: Write a Pandas program to implement following operation

#Practical - 6.1 to convert a NumPy array to a Pandas series

import numpy as np
import pandas as pd

arr=np.array([11,12,13,14,15])
print("numpy array is:",arr)

s=pd.Series()
print("empty series:",s)
s=pd.Series(arr)

print("pandas series:\n",s)

In [ ]:
########################################################################################################
#Name : - hiral shingadiya
#Enrollment :- 216270307061
#Subject :- IML
#Sem :- 5
########################################################################################################

#Practical - 6: Write a Pandas program to implement following operation

#Practical - 6.2 to convert the first column of a Data-frame as series

import pandas as pd

df=pd.DataFrame()

print("empty dataframe:",df)

df=pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})

print("dataframe is:\n",df)

In [ ]:
########################################################################################################
#Name : - hiral shingadiya
#Enrollment :- 216270307061
#Subject :- IML
#Sem :- 5
########################################################################################################

#Practical - 6: Write a Pandas program to implement following operation

#Practical - 6.3 to create the mean and standard deviation of the data of a given series

import pandas as pd

s=pd.Series([12,45,78,23,56,89,88])

print("series is:\n",s)
print("\nmean of s:",s.mean())
print("\nstandard deviation of s:",s.std())

In [ ]:
########################################################################################################
#Name : - hiral shingadiya
#Enrollment :- 216270307061
#Subject :- IML
#Sem :- 5
########################################################################################################

#Practical - 6 : Write a Pandas program to implement following operation
#Practical - 6.4 to sort a given series

import pandas as pd

s=pd.Series([44,12,77,93,55,75,66,123,74,1])

print("original series: \n",s)
print("\n sorted series is:\n",s.sort_values())